
@media screen and (max-width: 1015px) {
    table{
        display:table;
        width: 80%;
        margin:5px;
        font-size: 10px;
    }
    #Reponame{ font-size: 10px;}
    #stars{font-size: 10px;}
    #forks{font-size: 10px;}
    #watchers{font-size: 10px;}
    #issues{font-size: 10px;}
    #description{font-size: 11px;}
    .searchlist{
        left:0;
        bottom: 0;
        top:7rem;
        margin: auto;
        padding: 0;
        margin-bottom: 120px;
        width: 95%;
        height: 28rem;
    }
    .sorting{width: 100%;}
    #pagination{
        font-size: .8rem;
        bottom: 1rem;
        right: 1.5rem;
    }
}
@media screen and (max-width: 970px){#filter{font-size: 1rem;}}
@media screen and (max-width: 900px){
    #filter span{padding-right: 0;}
    #myInput {
        padding: 0;
        padding-left: 30px;
        margin-right: 502px;
    }
    #filter button:nth-of-type(2){
        right: 6rem;
        bottom: 30%;
    }
    #filter button:nth-of-type(1){
        right: 16rem;
        bottom: 30%;
    }
}
@media screen and (max-width: 862px){#myInput {margin-right: 466px;}}
@media screen and (max-width: 823px){
    #myInput {margin-right: 429px;}
    #sorting{font-size: .8rem;}
    header a{color: white;}
}
@media screen and (max-width: 784px) {#myInput {margin-right: 392px;}}
@media screen and (max-width: 746px) {
    #myInput {margin-right: 357px;}
    #filter button:nth-of-type(1){right: 30%;}
    #filter button:nth-of-type(2){right: 10%;}
}
@media screen and (max-width: 710px) {#myInput {margin-right: 321px;}}
@media screen and (max-width: 670px) {#myInput {margin-right: 283px;}}
@media screen and (max-width: 642px) {#myInput {margin-right: 263px;}}
@media screen and (max-width: 636px) {.searchlist{height: 35rem;}}
@media screen and (max-width: 610px) {
    #myInput {margin-right: 226px;}
    #filter button:nth-of-type(1){right: 25%;}
    #filter button:nth-of-type(2){right: 5%;}
}
@media screen and (max-width: 607px) {
    .searchlist{height: 43rem;}
    #sort_by label:last-of-type{margin-right: 310px;}
    #order_by{margin-left: 0;}
}
@media screen and (max-width: 580px) {
    header h1{font-size: 1.2rem;}
    header a{margin-left: 0;}
    .active{padding: 0;}
    .dropbtn{
        width: 4rem;
        height: 2rem;
        padding: 0;
    }
    #sort_by label:last-of-type{margin-right: 278px;}
    #filter button:nth-of-type(1){right: 25%;}
    #filter button:nth-of-type(2){right: 5%;}
}
@media screen and (max-width: 570px) {
    #myInput {margin-right: 188px;}
    #filter button:nth-of-type(1){right: 20%;}
    #filter button:nth-of-type(2){right: 2%;}
}
@media screen and (max-width: 542px) {#sort_by label:last-of-type{margin-right: 242px;}}
@media screen and (max-width: 535px) {

    #myInput {margin-right: 155px;}
    #filter button:nth-of-type(1){
        right: 2%;
        bottom: 53%;
        height: 1.8rem;
        width: 4rem;
        padding: 0;
    }
    #filter button:nth-of-type(2){
        right: 2%;
        bottom: 7%;
        height: 1.8rem;
        width: 4rem;
        padding: 0;
    }
}
@media screen and (max-width: 505px) {
    #myInput {margin-right: 126px;}
    #sort_by label:last-of-type{margin-right: 205px;}
}
@media screen and (max-width: 465px) {
    #myInput {margin-right: 89px;}
    #sort_by label:last-of-type{margin-right: 168px;}
}
@media screen and (max-width: 455px) {
    .searchlist{height: 47rem;}
    #filter{font-size: .8rem;}
    #filter button:first-of-type{
        font-size: .7rem;
        padding-top: 0;
        padding-bottom: 0;
        height: 1.3rem;
    }
    #filter button:last-of-type{
        font-size: .7rem;
        padding-top: 0;
        padding-bottom: 0;
        height: 1.3rem;
        bottom: 8%;
    }
    #myInput{
        height: 1.5rem;
        width: 8rem;
        margin-right: 142px;
    }
}
@media screen and (max-width: 443px) {.searchlist{height: 50rem;} }
@media screen and (max-width: 427px) { #sort_by label:last-of-type{ margin-right: 132px;} }
@media screen and (max-width: 420px) { #myInput {margin-right: 109px;}}
@media screen and (max-width: 400px) {
    table {font-size: 0.5rem;}
    #Reponame{ font-size: .6rem;}
    #stars{font-size: .5rem;}
    #forks{font-size: .5rem;}
    #watchers{font-size: .5rem;}
    #issues{font-size: .5rem;}
    #description{font-size: .5rem;}
    .searchlist{height: 39rem;  }
    #sorting{ font-size: .6rem; }
    #sort_by label:last-of-type{ margin-right: 156px; }
    #myInput {
        font-size: .6rem;
        background-size: .6rem;
        height: 1.2rem;
        margin-right: 102px;}
    #filter{font-size: .6rem;}
}
@media screen and (max-width: 380px) {
    #myInput { margin-right: 100px;}
    header h1{font-size: 1rem;}
    header a{font-size: .8rem;}
    .dropbtn{
        font-size: .8rem;
        width: 3rem;
        height: 1.8rem;
    }
}
@media screen and (max-width: 372px) { #sort_by label:last-of-type{margin-right: 129px;} }
@media screen and (max-width: 368px) { .searchlist{height: 42rem;}}
@media screen and (max-width: 365px) {.searchlist{height: 44rem;}}
@media screen and (max-width: 358px) { #myInput {margin-right: 72px;} }
@media screen and (max-width: 343px) { 
    #sort_by label:last-of-type{margin-right: 126px;}
    table {font-size: 0.4rem;}
    #Reponame{ font-size: .5rem;}
    #stars{font-size: .4rem;}
    #forks{font-size: .4rem;}
    #watchers{font-size: .4rem;}
    #issues{font-size: .4rem;}
    #description{font-size: .4rem;}
    #pagination{font-size: .6rem;}
    #sorting{font-size: .5rem;}
    .searchlist{height: 34rem;}
}
@media screen and (max-width: 328px) { 
    #myInput {
        margin-right: 91px;
        width: 5rem;
    }
    .checkbox{
        width: .6rem;
        height: .6rem;
    } 
}
@media screen and (max-width: 768px) {#content-mobile {display: block;} }
    
  