@import url(themes.css);

html{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  background: var(--background);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}
.active{
  border-bottom:3px solid var(--header-hover);
  padding-right: 30px;
  box-shadow: none;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--navbar);
  box-shadow: var(--shadow);
  color: var(--navbar-links);
  display:inline-flex;
  overflow: hidden;
  z-index: 11;
}
header h1{
  cursor: pointer;
  color: var(--logo);
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: space-between;

}

header a{
  box-shadow: none;
  text-decoration: none;
  color: var(--navbar-links);
  font-weight: 600;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  transition: .3s;
}

header a:hover{box-shadow: none;color: var(--header-hover)}

#view{
  position: fixed;
  margin: auto;
  right:0 ;
  margin-right: 20px;
  margin-top: 18px;
}

.dropbtn {
  background-color: var(--dropdn-bg);
  box-shadow: var(--inner-shadow);
  border-radius: 10px;
  color: var(--dropdn-txt);
  font-weight: 600;
  width: 70px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
  background: var(--dropdn-hover);
  box-shadow: var(--inner-shadow);
  color: var(--header-hover-txt);
  border-radius: 10px;
}
  
.dropdown {
  position: fixed;
  margin: auto;
  right:0 ;
  margin-right: 20px;
  margin-top: 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: var(--dropdn-bg);
  border-radius: 10px;
  color: var(--dropdn-txt);
  min-width: 70px;
  overflow: auto;
  z-index: 10;
  border-color: black;
}

.dropdown-content a {
  margin: 0;
  text-align: center;
  color: var(--dropdn-txt);
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}
  
.dropdown a:hover {
  color: var(--dropdn-bg);
  background: var(--header-hover);
  margin: 0;
  text-align: center;
}
  
.show {display: block;}

#filter{
  font-size: 1.2em;
  background: var(--filter-bg);
  border-radius: 10px;
  box-shadow: var(--shadow);
  color: var(--filter-txt);
  margin: auto;
  padding-top:10px ;
  padding-bottom: 10px;
  position: relative;
  top: 80px;
  width: 95%;
}
#filter span{padding: 15px;}

#myInput{
  background-image: url("search.png");
  background-repeat: no-repeat;
  background-position:12px;
  background-size:12px;
  padding-left: 30px;
  height: 2rem;
  color: var(--greyDark);
  box-shadow: var(--inner-shadow);
  border: none;
  border-radius: 15px;
}

::placeholder { color: var(--greyLight-3); }

:focus { outline: none; box-shadow: var(--shadow); }

.placeholder_content {
  position: absolute;
  left: 50%; top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.checkbox{
  width: 15px;
  height: 15px;
  justify-self: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease;
}


#filter button{
padding: 5px 15px 5px 15px;
font-size: 1.2rem;
border-radius: 30px;
background: var(--filter-btn-bg);
box-shadow: var(--shadow);
justify-content: center;
align-items: center;
cursor: pointer;
color: var(--filter-btn-txt);
transition: all .5s ease;
border: none;
}

#filter button:nth-of-type(2){
position: absolute;
right: 1rem;
bottom: 20%;
}

#filter button:nth-of-type(1){
position: absolute;
right: 7rem;
bottom: 20%;
}

#filter button:hover {
color: var(--filter-btn-hover-txt);
background: var(--filter-btn-hover);
box-shadow: var(--inner-shadow);
}

#sorting{
  background-color: var(--search-list-bg);
  display: none;
  margin: 15px;
  margin-bottom: 0;
  width: 90%;    
  color: var(--search-list-txt);
}

#sort_by, #order_by{ display: inline;}

#order_by{ margin-left: 30px;}

.totalResult{
  display: block;
  position: absolute;
  top:1rem;
  right: 1.8rem;
}

table{
  font-size: .8rem;
  display:table;
  width: 60%;
  margin:10px;
  color: var(--search-list-txt);
  border-radius: 1rem;
  background: var(--list-odd);
}

table:nth-of-type(even){background: var(--list-even);}

colgroup{margin: auto;padding: auto;}

col{margin: auto;padding: auto;}

col:nth-child(1){/* Repo name*/ margin-left: .4rem; width: 17%;} 
col:nth-child(2){/* star rating*/  width: 10%;} 
col:nth-child(3){/* Fork number*/ width: 8%;} 
col:nth-child(4){/* repo description*/ width: 21%;} 
col:nth-child(5){/* secondary language*/ width: 0%;} 
col:nth-child(6){/* language*/ width: 8%;} 
col:nth-child(7){/* dates*/ text-align: right;width: 21%;} 
col:nth-child(8){/* name*/  text-align: right;width: 10%;} 
col:nth-child(9){/* picture*/width: 5%;} 

tr,td{
  margin: auto;
  width: auto;
  padding: auto;
}

#Reponame{ font-size: 1.1rem; padding-left: .6rem;}

#fullname{ padding-left: .6rem;}

#stars{font-size: .8rem;}

#forks{font-size: .8rem;}

#watchers{font-size: .8rem;}

#issues{font-size: .8rem;}

#description{font-size: 1rem;}

.languages div{
  text-align: center; 
  padding: 0; margin:0; 
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 15px;
}

.dates{text-align: right;}

.name{text-align: center;}

.searchlist{
  background: var(--search-list-bg);
  border-radius: 30px;
  box-shadow: var(--shadow);
  color: var(--search-list-txt);
  position: relative;
  top: 120px;
  display: block;
  margin: auto;
  margin-bottom: 150px;
  width: 95%;
  height: 43rem;
}

#searchList{ padding: 2px;}

#pagination{
  position: absolute;
  display: none;
  bottom: 1em;
  right: 1em;
}

#pagination a{box-shadow: none;}

#emptySearch{
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#content-mobile {display: none;}

